@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBECFF;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    height: max-content;
}


/* Login page */

.login_container {
    height: 100vh;
    background-color: transparent;
}

.login_form {
    /* height: 240px; */
    height: auto;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid #707070;
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    /* text-align: center; */
}

.label {
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
    font-weight: bold;
}

.input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    box-sizing: border-box;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #8b0505;
    padding: 5px;
    font-size: 1.1;
    font-weight: 500;
}

.remember_password_container {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    /* font-size: 0.9em; */
}

.checkbox_label {
    font-weight: 400!important;
}

.submit_button {
    width: 80px;
    text-align: center;
    /* margin: 0 113px; */
    margin: auto;
    position: relative;
    background-color: #686DFF;
    border-radius: 5px;
    border: none;
    height: 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    transition: ease 0.5s;
}

.button_container {
    margin: auto;
    width: max-content;
}

.submit_button:hover {
    background-color: #0008ff;
}

.create_ac_route {
    margin: auto;
    font-weight: bold;
    font-size: 0.9em;
    width: fit-content;
    position: relative;
    padding-top: 8px;
}

.create_ac_route a {
    color: #686DFF!important;
    transition: ease 0.5s;
}

.create_ac_route a:hover {
    color: #0008ff!important;
}


/* Login page */


/* Create Account */

.create_account {
    width: 500px;
    border: #707070 2px solid;
    background-color: white;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    border-radius: 10px;
    padding: 20px;
}

.login_ac_route {
    margin: auto;
    font-weight: bold;
    font-size: 0.9em;
    width: fit-content;
    position: relative;
    padding-top: 8px;
}

.login_ac_route a {
    color: #686DFF!important;
    transition: ease 0.5s;
}

.login_ac_route a:hover {
    color: #0008ff;
}


/* Creat Accoutn */


/* index page */

header {
    position: relative;
    top: 0%;
}

div.primary nav {
    background-color: black;
    /* line-height: max-content; */
    height: 80px;
    top: 0%;
    color: white;
    margin: 0px;
    padding: 0px;
    /* position: absolute; */
    /* position: relative; */
    width: 100%;
    text-align: center;
}
div.primary nav ul {
    display: inline;
    list-style: none;
    float: right;
}

div.primary nav ul li {
    display: inline-block;
    padding: 26px;
    padding-left: 0;
}

div.primary nav ul li h3 {
    cursor: pointer;
    color: white!important;
}

.logo {
    float: left;
    padding: 20px;
    font-size: 1.1em;
}

.container {
    width: 60%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.new_project {
    background-color: #F3F3F3;
    height: 100px;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 100px;
    padding: 0 200px;
}

.add_project_button {
    float: right;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    background-color: #686DFF;
    border: none;
    border-radius: 5px;
    width: max-content;
    padding: 7px 10px;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: ease 0.5s;
}

.new_project button:hover {
    background-color: #0008fa;
}

.join_project {
    padding-left: 45%;
    height: 100px;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 100px;
    /* padding: 0 200px; */
}


/* index page */


/* add project */

.add_proj {
    padding-left: 45%;
    height: 100px;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 100px;
}

.add_proj_form {
    padding-top: 5%;
    padding-left: 11.5%;
    width: 700px;
    box-sizing: content-box;
    margin-left: 0%;
}


/* add project */


.proj {

    padding-left: 45%;
    height: 100px;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 100px;
}

.prjdisp {
    background-color: #F3F3F3;
    margin-top: 10%;
    margin-left: 10%;
    height: 150px;
    width: 80%;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 100px;
}

.prjimg {
    padding: 25px;
}

/* projects */

/* chat */

div.secondary nav {
    background-color: rgb(255, 255, 255);
    /* line-height: max-content; */
    height: 50px;
    color: rgb(0, 0, 0);
    /* position: absolute; */
    /* position: relative; */
    width: 100%;
    text-align: center;
    border-bottom: 2px solid  black;
    /* margin-bottom: 10px; */
}
div.secondary nav ul {
    display: inline;
    list-style: none;
    float: right;
}

div.secondary nav ul li {
    display: inline-block;
    padding: 25px;
    line-height: 0px;
}

div.secondary nav ul li h4 {
    cursor: pointer;
}

/* #membr{
    background-color: rgb(255, 255, 255);
    top: 0%;
    width: 25%;
    height:82.5vh;
    border-right: 2px solid black;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    font-size: x-large;
}
#chatdis{
    background-color: #ffffff;
    width: 50%;
    margin-left: 25%;
} */

.row{
    text-align: center;
    font-weight: bold;
}

.vid{
    text-align: center;
    font-weight: bold;
    /* margin: 25px; */
 main
}